h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

:root {
  --primary-color : black;
  --border : 1px solid #DC3545;
}

p {
  font-family: cursive;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 55px;
}

.hero {
  background: #fad7a1;
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-family: cursive;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: cursive;
  font-weight: normal;
  line-height: 1.5;
  font-size: 20px;
}

.hero-links {
  display: flex;
  justify-content: center;
}

.btn-branding {
  color: var(--primary-color);
  border: var(--border);
  border-radius: 10px;
  font-size: 18px;
  padding: 15px 20px;
  line-height: 1.5;
  margin: 20px;
}

.btn-branding-outline {
  color: var(--primary-color);
  border: var(--border);
  border-radius: 10px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }
}

.about-heading{
  text-align: center;
  font-size: 96px;
  margin-top: 50px;
}

.about-paragraph{
  text-align: center;
  opacity: 0.7;
  margin-bottom: 50px;
}

#contact{
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

#contact a{
  color: #DC3545;
}

.navbar-brand{
  margin-left: 90px;
}